{% load static %}
<!DOCTYPE hmtl>
<html>
   <head>
      <title>{% block title %}{% endblock %}</title>
      <link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
      <script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
   </head>
   <body>
      {% block content %}
      {% endblock %}
      <a href="{% url 'files:files' %}"> Home </a>
      <a href="{% url 'files:logout' %}"> Logout </a>
      <a href="{% url 'rooms:join_room' %}"> Join a Room</a>
   </body>
</html>
