{% extends "master.html" %}

{% block title %}
   Edit
{% endblock %}

{% block content %}
   <h1>{{ file.name }}</h1>
   <textarea id="texter" type="text" >{{ file.contents }}</textarea><br>
   <input id="save" type="button" value="Save">
   {{ file.id|json_script:"file_id" }}
   <script>
      const easyMDE = new EasyMDE({
         element: document.getElementById('texter'),
         forceSync: true
      })
      const fileId = JSON.parse(document.getElementById("file_id").textContent);

      const fileSocket = new WebSocket(
         'ws://'
         + window.location.host
         + '/ws/file/'
         + fileId 
         + '/'
      );

      fileSocket.onmessage = function(e) {
         const data = JSON.parse(e.data);
         document.querySelector('#texter').value = data.file.contents;
      }

      fileSocket.onclose = function(e) {
         console.error('Socket closed');
      }

      document.querySelector('#save').onclick = function(e) {
         const file_contents = easyMDE.value();
         fileSocket.send(JSON.stringify({
            'contents': file_contents,
            'file_id': fileId,
         }));
      };
   </script>
{% endblock %}
