{% load static %}
<!DOCTYPE html>
<html>
   <head>
      <title>{{code}}</title>
      <link href="{%static 'src/styles.css'%}" rel="stylesheet">
   </head>
   <body>
      <h1>{{code}}</h1>
      <ul id="user-list"></ul>
      <input id="rollinput" type="text" name="rollinput" />
      <button id="rollBtn">Roll!</button>
      <div id="roll-area"></div>
      {{ code|json_script:"roomcode" }}
      {{ user|json_script:"user" }}
      <script type="module" src="{% static 'src/roll_script.js' %}"></script>
   </body>
</html>
