body {
  font-family: sans-serif;
}

#roll-area {
   width: 80vw;
   overflow: visible;
}

.single-roller {
   height: 40vh;
   outline: 2px solid;
   margin: 2rem;
   justify-items: center;
   align-items: center;
   position: relative;
}

.player-label {
   position: absolute;
}

.popup {
   width: 50%;
   height: 50%;
   z-index: 3;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   background-color: rgba(0, 0, 0, 0.4);
}

#rollBtn {
  position: relative;
  cursor: pointer;
  z-index: 2;
}

#rollinput {
   position: relative;
   z-index: 2;
}

#user-list {
   position: relative;
   z-index: 2;
}
